
body {
    font-family: monospace;
    background-color: #f5f5f5; 
    color: #333;
    margin: 0;
    padding: 0;
}


h1 {
    color: #0073e6;
    text-align: center;
}

h2, h3 {
    color: #28a745;
    padding: 10px;
}


nav ul {
    list-style-type: none;
    background-color: #535353;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}


nav ul li a:hover {
    color: #28a745;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #535353;
    color: white;
}

/* Focus Pseudo-Class */
input:focus, textarea:focus {
    border: 2px solid #0073e6;
}

/* Valid/Invalid Field Styling */
input:valid {
    background-color: #e0ffe0;
}
input:invalid {
    background-color: #ffe0e0;
}
