<header>
    <img src="images/epmono2.png" alt="my logo didn't load correctly" height="100" width="100">
    <h1>Ethan Perez's Enthusiastic Penguin — WEB115</h1>

    <nav>
        <a href="index.html">Home</a> |
        <a href="introduction.html">Introduction</a> |
        <a href="contract.html">Contract</a> |
        <a href="brand.html">Brand</a> |
        <a href="fizzbuzz0.html">FizzBuzz0</a> |
        <a href="fizzbuzz1.html">FizzBuzz1</a> |
        <a href="fizzbuzz2.html">FizzBuzz2</a> |
        <a href="fizzbuzz3.html">FizzBuzz3</a> |
        <a href="fizzbuzz4.html">FizzBuzz4</a>
    </nav>
</header>